

<div style="background:#31B88A">
   <section class="hero-three-items" style="padding-top:0px;padding-bottom:0px">
      <article class="hero-block primary c6" style="box-sizing: border-box;">
         <a aria-hidden="true" class="img-link c2 page-scroll"" href="#main">The beauty of the nature</a>
         <div class="text-box c5">
            <h2>
                    <a class="c3">SPREAD THE LOVE</a>
                  </h2>
            <p class="secondary-text">
               <a class="tag c3 page-scroll" href="#main"></a>
            </p>
            <p class="secondary-text description c4">
               We are designing happiness for social media.
            </p>
         </div>
      </article>
      <article class="hero-block secondary c9">
         <a aria-hidden="true" class="img-link c7 noTextDec" href="/love">
                The beauty nearby</a>
         <div class="text-box c8">
            <h4>
                    <a class="c3" href="/love">The beauty nearby</a>
                  </h4>
            <p class="secondary-text">
               <!-- <a class="tag c3" href="/love">Visit Places</a> -->
            </p>
         </div>
      </article>
      <article class="hero-block secondary c12">
         <a aria-hidden="true" class="img-link c10" style="background-image:url({{onepicture}})" href="/popular">Most Popular in Intagram</a>
         <div class="text-box c11" style="border:none">
            <h4>
                    <a class="c3" href="/popular">Most Popular in Intagram</a>
                  </h4>
            <p class="secondary-text" style="border:none">
               <!-- <a class="tag c3" href="/popular">Learn More</a> -->
            </p>
         </div>
      </article>
   </section>

</div>









     <!-- Portfolio Grid Section -->
    <section id="portfolio" >
        <div class="container aa">
         <p style="border-left: solid 5px #f00;font-size:30px;
  font-style: italic;
  line-height: 40px;color:#ccc;padding-left:30px;font-weight: 700;">Today's Challenges <a href="https://www.facebook.com/onehanachallenge" style="color:#14934A;font-size:15px;">/more</a></p>
      

<div>
   <section class="hero-three-items" style="padding-top:0px;padding-bottom:0px">
      <article class="hero-block primary c6" style="width:100%">
         <a aria-hidden="true" class="img-link c2 page-scroll" style="background-image:url({{FB.url}})">

         </a>

         <div class="text-box c8">
          <h5>
            <a class="c4 noTextDec" style="word-wrap: break-word;color:#ffffff">
               {{FB.FBDescription}}
            </a>
            </h5>
         </div>
      </article>


   </section>
</div>
        </div>
        <div class="container bb" >

<header id="main" style="color:#cccccc">

      <div class="intro-text" style="padding-top:50px; padding-bottom: 40px;color:#cccccc;">
         <div class="intro-heading" >TAKE</div>
         <div class="intro-lead-in" >a step to start, learn more with</div>
         
 
<div>
    
             <a class="btn btn-xl" style="background:#3b5998;border:none" href="/auth/facebook">FACEBOOK</a>
         </div>

<div style="padding-top:1.5ex">
               <a class="btn btn-xl" style="background:#EC6161;border:none" href="/auth/instagram">Instagram</a>
</div>
   </div>
</header>
</div>
    </section>




<div class="container news">
 <p style="border-left: solid 5px #057FF5;font-size:20px;
  font-style: italic;
  line-height: 40px;color:#ccc;padding-left:30px;font-weight: 700;">Today's Health News  <a href="https://www.facebook.com/onehanachallenge" style="color:#14934A;font-size:15px;">/more</a></p>

<div>

<ol data-view="results" class="headlines touchstates hp">
     {{#each healthnews}}
     {{#if image}}
<li class="border-b highlighted  item-0"><a href="{{url}}">
  <img src={{image}} class="highlighted-thumb" onError="this.onerror=null;this.src='http://echurchdepot.zurltd.netdna-cdn.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/3/739260007138L_3.jpg'" width="150" height="150">
  <span class="title">{{title}}</span>
  <p>{{abstract}}</p>
  </a>
  </li>{{/if}}
  {{/each}}
</ol>

</div>


</div>
